# osjs.service

[Unit]
Description=OS.js Server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/opt/os.js
User=osjs
Group=osjs
Restart=on-failure
ExecStart=/usr/bin/node /opt/os.js/src/server/index.js
